.label {
    font-family: Noto Mono, monospace;
    border: 2px solid #acacac;
    border-radius: 5px;
    padding: 1px 3px;
    margin-left: 5px;
}

.label.opinion,
.label.rewatchable,
.label.unfindable {
    color: purple;
    border-color: purple;
    font-style: normal;
}

.label.imdb {
    background: #f5de50;
    border-color: orange;
    font-weight: bold;
}

.label.mal {
    background: #2e51a2;
    border-color: mediumslateblue;
    color: white;
    font-weight: bold;
}
