.kthing {
    background: #dddddd;
    margin-top: 5px;
    display: flex;
}

.kthing .kthing__poster {
    display: block;
    width: 100px;
    height: 150px;
    margin: 3px;
    margin-right: 5px;
}

.kthing .kthing__labels {
    display: block;
}

.kthing__notes {
    padding: 5px;
}

.kthing__notes ul {
    list-style: square;
    list-style-position: inside;
    font-size: small;
}

.kthing {
    position: relative;
    border-left: 4px solid gray;
}

.kthing--todo {
    --todo-color: #face1c;
    border-color: var(--todo-color);
}

.kthing--todo::before {
    content: "todo";
    position: absolute;
    top: 0;
    padding: 3px;
    background: var(--todo-color);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;    
}
.kthing--todo:hover::before {
    opacity: 1;
}
