.thing {
    background: #dddddd;
    display: flex;
    position: relative;
    border-left: 4px solid;
    border-color: var(--status-color);
    margin-top: 5px;
    height: 150px;
    overflow-x: auto;
}

/* Status */
.thing,
.thing--done {
    /* default */
    --status-text: "done";
    --status-color: #26448f;
    --status-color: gray;
}

.thing--todo {
    --status-text: "todo";
    --status-color: orange;
    --status-color: #face1c;
}

.thing--doing {
    --status-text: "doing";
    --status-color: limegreen;
}

.thing--dropped {
    --status-text: "dropped";
    --status-color: firebrick;
}

[class*="thing--"]::before {
    content: var(--status-text);
    background-color: var(--status-color);
    color: white;
    position: absolute;
    top: 0;
    padding: 3px;
    opacity: 0;
    transition: opacity 0.3s;
}

[class*="thing--"]:hover::before {
    opacity: 1;
}

.thing .thing__poster {
    display: block;
    width: 100px;
    height: 150px;
    padding: 3px;
    margin-right: 5px;
}

.thing .thing__labels {
    display: block;
}

.thing__notes {
    padding: 5px;
}

.thing__notes ul {
    /* list-style: square; */
    list-style-position: inside;
    font-size: small;
    margin-left: 1em;
}
