*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    margin: 10px;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

.app__header {
    text-align: center;
    color: purple;
}

.title {}

.subtitle {
    color: #827784;
    font-size: small;
}

.searchbar {
    margin: 5px 0;
}

.searchbar input[type="search"] {
    width: 100%;
    font-size: 20px;
    border: 3px solid mediumpurple;
    padding: 5px;
}

.searchbar input[type="search"]:focus {
    outline-color: purple;
}

.loader {
    display: flex;
    place-content: center;
}
